bin/
.vs*
.idea*
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
/.vs/Console/DesignTimeBuild/.dtbcache.v2
/.vs/Console/FileContentIndex/25720e6d-222b-4223-a5d6-b8b1ac38c10e.vsidx
/.vs/Console/FileContentIndex/39633198-97c6-4daf-a4b1-59fba5b5335b.vsidx
/.vs/Console/FileContentIndex/a26581de-9995-465b-bec8-786ec2592649.vsidx
/.vs/Console/FileContentIndex/daf6d34e-0e88-477e-ab76-4b9802410735.vsidx
/.vs/Console/v17/.futdcache.v2
/.vs/Console/v17/.suo
